n8n/ordo-upload-extraction.json
{
  "name": "Ordo — Upload PDF → Groq → Supabase",
  "nodes": [
    {
      "parameters": {
        "content": "## Ordo — extraction IA\n\n### Variables n8n requises (Settings → Variables)\n- `SUPABASE_SERVICE_ROLE_KEY` → clé service_role Supabase\n- `GROQ_API_KEY` → clé Groq\n\n### Optionnel\n- `SUPABASE_URL` → si tu veux pas hardcoder (sinon c'est dans le code)\n\n### Après import\n1. Active le workflow\n2. Copie l'URL Production du Webhook\n3. Vérifie dans Vercel : VITE_N8N_UPLOAD_WEBHOOK = cette URL",
        "height": 380,
        "width": 420,
        "color": 4
      },
      "id": "ordo-note-upload",
      "name": "Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-740, -160]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ordo-upload",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ordo-webhook-upload",
      "name": "Webhook Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-280, 120],
      "webhookId": "ordo-upload"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extraire le body du webhook (n8n le met dans .body ou à la racine)\nconst raw = $input.first().json\nconst body = (raw.body && typeof raw.body === 'object') ? raw.body : raw\n\nconst case_id = body.case_id || null\nconst doc_id = body.doc_id || null\nconst storage_path = body.storage_path || ''\nconst pdf_url = body.pdf_url || null\n\n// Construire l'URL de téléchargement\n// Priorité 1 : signed URL générée par l'app\n// Priorité 2 : URL directe Supabase Storage avec auth service role\nconst supabaseBase = ($vars.SUPABASE_URL || 'https://ctfqgvrzstwtkborbhai.supabase.co').replace(/\\/+$/, '')\nconst downloadUrl = (pdf_url && pdf_url.startsWith('http'))\n  ? pdf_url\n  : supabaseBase + '/storage/v1/object/documents/' + storage_path\n\nconsole.log('downloadUrl:', downloadUrl)\nconsole.log('case_id:', case_id, 'doc_id:', doc_id)\n\nreturn [{ json: { downloadUrl, case_id, doc_id, storage_path } }]"
      },
      "id": "ordo-prepare",
      "name": "Préparer URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-40, 120]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.downloadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "ordo-download-pdf",
      "name": "Télécharger le PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 120]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data"
      },
      "id": "ordo-extract-pdf",
      "name": "Extraire texte PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [440, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.1-8b-instant', messages: [{ role: 'system', content: 'Tu aides un cabinet juridique au Quebec. Reponds UNIQUEMENT avec un objet JSON valide sans markdown, avec exactement ces cles: summary (string, 2-3 phrases en francais resumant le document), extracted_date (string YYYY-MM-DD representant la date cle ou le delai du document, ou null), doc_type (string courte: mise en demeure / jugement / contrat / requete / autre, ou null). Aucun texte avant ou apres le JSON.' }, { role: 'user', content: 'Voici le texte du document juridique. Extrais les informations demandees:\\n\\n' + String($json.text || '').slice(0, 100000) }], temperature: 0.1 }) }}"
      },
      "id": "ordo-groq",
      "name": "Groq — extraire JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 120]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// IDs depuis le nœud Préparer URL\nconst prep = $('Préparer URL').first().json\nconst case_id = prep.case_id\nconst doc_id = prep.doc_id\n\n// Réponse Groq\nconst raw = $input.first().json?.choices?.[0]?.message?.content || ''\n\nlet summary = null\nlet extracted_date = null\nlet doc_type = null\n\ntry {\n  const cleaned = raw\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```\\s*$/i, '')\n    .trim()\n  const o = JSON.parse(cleaned)\n  summary = typeof o.summary === 'string' ? o.summary : null\n  if (o.extracted_date && /^\\d{4}-\\d{2}-\\d{2}$/.test(String(o.extracted_date))) {\n    extracted_date = o.extracted_date\n  }\n  doc_type = typeof o.doc_type === 'string' ? o.doc_type : null\n} catch (e) {\n  summary = raw.slice(0, 500) || 'Extraction automatique'\n}\n\nconsole.log('Extraction OK — case_id:', case_id, 'summary:', summary, 'date:', extracted_date)\n\nreturn [{ json: { case_id, doc_id, summary, extracted_date, doc_type } }]"
      },
      "id": "ordo-parse-ai",
      "name": "Parse AI → champs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 120]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ ($vars.SUPABASE_URL || 'https://ctfqgvrzstwtkborbhai.supabase.co').replace(/\\/+$/, '') + '/rest/v1/documents?id=eq.' + $json.doc_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ summary: $json.summary, extracted_date: $json.extracted_date, doc_type: $json.doc_type }) }}"
      },
      "id": "ordo-patch-document",
      "name": "PATCH documents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 120]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ ($vars.SUPABASE_URL || 'https://ctfqgvrzstwtkborbhai.supabase.co').replace(/\\/+$/, '') + '/rest/v1/cases?id=eq.' + $('Parse AI → champs').first().json.case_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({ summary: $('Parse AI → champs').first().json.summary, updated_at: new Date().toISOString() }, $('Parse AI → champs').first().json.extracted_date ? { deadline: $('Parse AI → champs').first().json.extracted_date } : {})) }}"
      },
      "id": "ordo-patch-case",
      "name": "PATCH cases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 120]
    }
  ],
  "connections": {
    "Webhook Upload": {
      "main": [[{ "node": "Préparer URL", "type": "main", "index": 0 }]]
    },
    "Préparer URL": {
      "main": [[{ "node": "Télécharger le PDF", "type": "main", "index": 0 }]]
    },
    "Télécharger le PDF": {
      "main": [[{ "node": "Extraire texte PDF", "type": "main", "index": 0 }]]
    },
    "Extraire texte PDF": {
      "main": [[{ "node": "Groq — extraire JSON", "type": "main", "index": 0 }]]
    },
    "Groq — extraire JSON": {
      "main": [[{ "node": "Parse AI → champs", "type": "main", "index": 0 }]]
    },
    "Parse AI → champs": {
      "main": [[{ "node": "PATCH documents", "type": "main", "index": 0 }]]
    },
    "PATCH documents": {
      "main": [[{ "node": "PATCH cases", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
