n8n/ordo-daily-reminder.json
{
  "name": "Ordo — Rappel quotidien (Resend)",
  "nodes": [
    {
      "parameters": {
        "content": "## Ordo — email quotidien\n\n### Variables n8n (Settings → Variables)\n- `SUPABASE_URL`\n- `SUPABASE_SERVICE_ROLE_KEY`\n- `RESEND_API_KEY`\n- `RESEND_FROM` → onboarding@resend.dev (ou ton domaine verifie)\n\n### Horaire\n`0 8 * * *` = 08:00 UTC = 04:00 heure de Montreal\nChange a `0 13 * * *` pour 09:00 Montreal (UTC-4 ete).\n\n### Logique\nUrgent = aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd aujourd",
        "height": 400,
        "width": 420,
        "color": 5
      },
      "id": "ordo-note-reminder",
      "name": "Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-700, -80]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * *"
            }
          ]
        }
      },
      "id": "ordo-cron",
      "name": "Chaque jour 09h00 Montreal",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-320, 140]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const base = ($vars.SUPABASE_URL || '').replace(/\\/+$/, '');\nconst key = $vars.SUPABASE_SERVICE_ROLE_KEY;\nconst resendFrom = $vars.RESEND_FROM || 'onboarding@resend.dev';\n\nif (!base || !key) {\n  throw new Error('Missing SUPABASE_URL or SUPABASE_SERVICE_ROLE_KEY');\n}\n\nfunction effectiveStatus(status, deadline) {\n  if (!deadline) return status;\n  const t = new Date(deadline + 'T12:00:00');\n  const today = new Date();\n  today.setHours(0, 0, 0, 0);\n  t.setHours(0, 0, 0, 0);\n  const diff = Math.round((t.getTime() - today.getTime()) / 86400000);\n  if (diff <= 0) return 'urgent';\n  if (diff <= 7) {\n    if (status === 'stable') return 'monitor';\n    return status;\n  }\n  return status;\n}\n\nfunction escapeHtml(s) {\n  return String(s)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\n\nconst profiles = await this.helpers.httpRequest({\n  method: 'GET',\n  url: base + '/rest/v1/profiles?daily_reminder_enabled=eq.true&select=id,email,daily_reminder_time',\n  headers: {\n    apikey: key,\n    Authorization: 'Bearer ' + key,\n    Accept: 'application/json',\n  },\n  json: true,\n});\n\nconst list = Array.isArray(profiles) ? profiles : [];\nconst out = [];\n\nfor (const p of list) {\n  if (!p.email) continue;\n\n  const cases = await this.helpers.httpRequest({\n    method: 'GET',\n    url: base + '/rest/v1/cases?user_id=eq.' + p.id + '&select=id,name,client_name,status,deadline',\n    headers: {\n      apikey: key,\n      Authorization: 'Bearer ' + key,\n      Accept: 'application/json',\n    },\n    json: true,\n  });\n\n  const arr = Array.isArray(cases) ? cases : [];\n  const enriched = arr.map(function(c) { return Object.assign({}, c, { effective: effectiveStatus(c.status, c.deadline) }); });\n\n  const urgent = enriched.filter(function(c) { return c.effective === 'urgent'; });\n  const surveiller = enriched.filter(function(c) { return c.effective === 'monitor'; });\n  const aVenir = enriched.filter(function(c) { return c.effective === 'stable' && c.deadline; });\n\n  const lines = [];\n  lines.push('<h2 style=\"color:#0F172A;font-family:sans-serif;\">Ordo &mdash; Resume du jour</h2>');\n  lines.push('<p style=\"font-family:sans-serif;\">Bonjour,</p>');\n\n  if (urgent.length === 0 && surveiller.length === 0 && aVenir.length === 0) {\n    lines.push('<p style=\"font-family:sans-serif;\">Aucun delai a signaler aujourd\\'hui.</p>');\n  } else {\n    if (urgent.length) {\n      lines.push('<p style=\"font-family:sans-serif;\"><strong style=\"color:#DC2626;\">Urgent (aujourd\\'hui ou en retard)</strong></p><ul>');\n      for (const c of urgent) {\n        lines.push('<li style=\"font-family:sans-serif;\">' + escapeHtml(c.name) + ' &mdash; ' + (c.deadline || '&mdash;') + '</li>');\n      }\n      lines.push('</ul>');\n    }\n    if (surveiller.length) {\n      lines.push('<p style=\"font-family:sans-serif;\"><strong style=\"color:#D97706;\">A surveiller (moins de 7 jours)</strong></p><ul>');\n      for (const c of surveiller) {\n        lines.push('<li style=\"font-family:sans-serif;\">' + escapeHtml(c.name) + ' &mdash; ' + (c.deadline || '&mdash;') + '</li>');\n      }\n      lines.push('</ul>');\n    }\n    if (aVenir.length) {\n      lines.push('<p style=\"font-family:sans-serif;\"><strong>A venir</strong></p><ul>');\n      for (const c of aVenir.slice(0, 30)) {\n        lines.push('<li style=\"font-family:sans-serif;\">' + escapeHtml(c.name) + ' &mdash; ' + (c.deadline || '&mdash;') + '</li>');\n      }\n      lines.push('</ul>');\n    }\n  }\n\n  lines.push('<p style=\"color:#64748b;font-size:12px;font-family:sans-serif;margin-top:24px;\">Ordo &mdash; email automatique</p>');\n\n  out.push({\n    json: {\n      to: p.email,\n      subject: 'Ordo — vos dossiers du jour',\n      html: lines.join('\\n'),\n      resendFrom: resendFrom,\n    },\n  });\n}\n\nreturn out;"
      },
      "id": "ordo-build-emails",
      "name": "Fetch Supabase + HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: $json.resendFrom, to: [$json.to], subject: $json.subject, html: $json.html }) }}"
      },
      "id": "ordo-resend",
      "name": "Resend — envoyer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 140]
    }
  ],
  "connections": {
    "Chaque jour 09h00 Montreal": {
      "main": [[{ "node": "Fetch Supabase + HTML", "type": "main", "index": 0 }]]
    },
    "Fetch Supabase + HTML": {
      "main": [[{ "node": "Resend — envoyer", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
