n8n/ordo-upload-extraction.json
{
  "name": "Ordo — Upload PDF → Groq → Supabase",
  "nodes": [
    {
      "parameters": {
        "content": "## Ordo — extraction IA\n\n### Variables n8n (Settings → Variables)\nCrée ces variables dans ton projet n8n :\n- `SUPABASE_URL` → https://ctfqgvrzstwtkborbhai.supabase.co\n- `SUPABASE_SERVICE_ROLE_KEY` → ta clé service_role Supabase\n- `GROQ_API_KEY` → ta clé Groq\n\n### Comment ça marche\n1. L'app envoie un POST avec case_id, doc_id, pdf_url (signed URL 60 min)\n2. n8n télécharge le PDF via l'URL signée (pas besoin d'auth)\n3. Groq extrait summary, extracted_date, doc_type\n4. On PATCH documents + cases dans Supabase\n\n### Après import\n1. Active le workflow (toggle en haut à droite)\n2. Copie l'URL Production du nœud Webhook\n3. Mets-la dans Vercel → VITE_N8N_UPLOAD_WEBHOOK",
        "height": 480,
        "width": 480,
        "color": 4
      },
      "id": "ordo-note-upload",
      "name": "Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-740, -160]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ordo-upload",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ordo-webhook-upload",
      "name": "Webhook Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-280, 120],
      "webhookId": "ordo-upload"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ (function() { const b = $json.body || $json; const pdfUrl = b.pdf_url; const storagePath = b.storage_path || ''; const base = ($vars.SUPABASE_URL || '').replace(/\\/+$/, ''); return (pdfUrl && String(pdfUrl).startsWith('http')) ? pdfUrl : (base + '/storage/v1/object/documents/' + storagePath); })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "ordo-download-pdf",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-40, 120]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data"
      },
      "id": "ordo-extract-pdf",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [200, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.1-8b-instant', messages: [{ role: 'system', content: 'Tu aides un cabinet juridique au Quebec. Reponds UNIQUEMENT avec un objet JSON valide sans markdown, avec exactement ces cles: summary (string, 2-3 phrases en francais resumant le document), extracted_date (string YYYY-MM-DD representant la date cle du document, ou null), doc_type (string courte comme mise en demeure / jugement / contrat / requete, ou null). Aucun texte avant ou apres le JSON.' }, { role: 'user', content: 'Voici le texte extrait du document juridique:\\n\\n' + String($json.text || '').slice(0, 100000) }], temperature: 0.1 }) }}"
      },
      "id": "ordo-groq",
      "name": "Groq — extract JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 120]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Récupère les données du webhook (body peut être à la racine ou dans .body)\nconst webhookData = $('Webhook Upload').first().json\nconst body = webhookData.body || webhookData\nconst case_id = body.case_id || null\nconst doc_id = body.doc_id || null\n\n// Récupère la réponse Groq\nconst raw = $input.first().json?.choices?.[0]?.message?.content || ''\n\nlet summary = null\nlet extracted_date = null\nlet doc_type = null\n\ntry {\n  // Nettoie le markdown si Groq en ajoute\n  const cleaned = raw\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```\\s*$/i, '')\n    .trim()\n  const o = JSON.parse(cleaned)\n  summary = typeof o.summary === 'string' ? o.summary : null\n  // Valide le format de date\n  if (o.extracted_date && /^\\d{4}-\\d{2}-\\d{2}$/.test(o.extracted_date)) {\n    extracted_date = o.extracted_date\n  }\n  doc_type = typeof o.doc_type === 'string' ? o.doc_type : null\n} catch (e) {\n  // Si parse échoue, met le texte brut comme summary\n  summary = raw.slice(0, 500) || 'Extraction automatique'\n}\n\nreturn [{ json: { case_id, doc_id, summary, extracted_date, doc_type } }]"
      },
      "id": "ordo-parse-ai",
      "name": "Parse AI → champs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 120]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ ($vars.SUPABASE_URL || '').replace(/\\/+$/, '') + '/rest/v1/documents?id=eq.' + $json.doc_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ summary: $json.summary, extracted_date: $json.extracted_date, doc_type: $json.doc_type }) }}"
      },
      "id": "ordo-patch-document",
      "name": "PATCH documents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 120]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ ($vars.SUPABASE_URL || '').replace(/\\/+$/, '') + '/rest/v1/cases?id=eq.' + $json.case_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({ summary: $json.summary, updated_at: new Date().toISOString() }, $json.extracted_date ? { deadline: $json.extracted_date } : {})) }}"
      },
      "id": "ordo-patch-case",
      "name": "PATCH cases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 120]
    }
  ],
  "connections": {
    "Webhook Upload": {
      "main": [[{ "node": "Download PDF", "type": "main", "index": 0 }]]
    },
    "Download PDF": {
      "main": [[{ "node": "Extract PDF Text", "type": "main", "index": 0 }]]
    },
    "Extract PDF Text": {
      "main": [[{ "node": "Groq — extract JSON", "type": "main", "index": 0 }]]
    },
    "Groq — extract JSON": {
      "main": [[{ "node": "Parse AI → champs", "type": "main", "index": 0 }]]
    },
    "Parse AI → champs": {
      "main": [[{ "node": "PATCH documents", "type": "main", "index": 0 }]]
    },
    "PATCH documents": {
      "main": [[{ "node": "PATCH cases", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
